<!-- ================= HEADER ================= -->

 <header class="header d-none d-xl-block">
  <div class="container-fluid py-3">
    <div class="row align-items-center">

      <div class="col-lg-3">
        <div class="logo">
        <div class="logo-circle">
<img src="assets/logo/logo.png" alt="Logo" class="logo-img">
</div>

          <div>
            <h3>Hastening </h3>
            <small>Unifying in Christ</small>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="nav-menu">

        <a href="welcome.html" class="nav-item-custom  active-nav">
    <i class="bi bi-house-fill"></i>
    Home<br>
    <span class="invisible">.</span>
</a>

          <a  href="welcome.html" class="nav-item-custom">
            <i class="bi bi-heart"></i>
            Loving<br>Our Neighbor
          </a>

          <a href="welcome.html"  class="nav-item-custom">
            <i class="bi bi-book"></i>
            Sharing Our<br>Faith in Christ
          </a>

          <a class="nav-item-custom">
            <i class="bi bi-people-fill"></i>
            Invitation<br>to Unity
          </a>

          <a href="welcome.html" class="nav-item-custom">
            <i class="bi bi-droplet-fill"></i>
            Does Unity<br>Require Baptism?
          </a>

          <a href="welcome.html"  class="nav-item-custom">
            <i class="bi bi-music-note-beamed"></i>
            Worshiping Christ<br>through Music
          </a>

          <a href="welcome.html"  class="nav-item-custom">
            <i class="bi bi-calendar-event"></i>
            Neighborhood<br>B&amp;B Events
          </a>

          <a  href="welcome.html" class="nav-item-custom">
            <i class="bi bi-shield-check"></i>
            Security<br>&amp; More
          </a>
            <a href="welcome.html"  class="nav-item-custom">
          <i class="bi bi-pencil-square"></i>
            register<br> Now
          </a>

        </div>
      </div>

    </div>
  </div>
</header>

<!-- Mobile Header -->
<nav class="navbar navbar-dark  d-xl-none fixed-top" style="background-color: #16377c !important;">

    <div class="container-fluid">
        <div class="d-flex justify-content-between w-100">
            <div class="d-flex gap-1 align-items-center">
            <img src="assets/logo/logo.png" alt="Logo" class="logo-img">
            <div>
                <div class="navbar-brand fw-bold py-0">
                    Hastening
                </div>
                <small class="text-white">Unifying in Christ</small>
            </div>
        </div>
        


        <button class="navbar-toggler ms-auto"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#mobileMenu">

            <span class="navbar-toggler-icon"></span>

        </button>
        </div>
      
    </div>

</nav>

<!-- Mobile Menu -->
<div class="offcanvas offcanvas-start"
     tabindex="-1"
     id="mobileMenu">

    <div class="offcanvas-header">

        <h5 class="offcanvas-title">
            Menu
        </h5>

        <button class="btn-close" style="background-color: #fff;"
                data-bs-dismiss="offcanvas">
        </button>

    </div>

<div class="offcanvas-body bg-light">

    <a  href="welcome.html" class="mobile-menu-item active">
        <div class="menu-icon">
            <i class="bi bi-house-fill"></i>
        </div>
        <div>
            <h6>Home</h6>
            <small>Dashboard</small>
        </div>
    </a>

    <a href="welcome.html"  class="mobile-menu-item">
        <div class="menu-icon">
            <i class="bi bi-heart"></i>
        </div>
        <div>
            <h6>Loving Our Neighbor</h6>
            <small>Serve with love</small>
        </div>
    </a>

    <a href="welcome.html"  class="mobile-menu-item ">
        <div class="menu-icon">
            <i class="bi bi-book"></i>
        </div>
        <div>
            <h6>Sharing Our Faith</h6>
            <small>Read Scriptures</small>
        </div>
    </a>

    <a href="welcome.html"  class="mobile-menu-item">
        <div class="menu-icon">
            <i class="bi bi-people-fill"></i>
        </div>
        <div>
            <h6>Invitation to Unity</h6>
            <small>Invite Friends</small>
        </div>
    </a>

    <a  href="welcome.html" class="mobile-menu-item">
        <div class="menu-icon">
            <i class="bi bi-droplet-fill"></i>
        </div>
        <div>
            <h6>Does Unity</h6>
            <small>Learn More</small>
        </div>
    </a>

    <a href="welcome.html"  class="mobile-menu-item">
        <div class="menu-icon">
            <i class="bi bi-music-note-beamed"></i>
        </div>
        <div>
            <h6>Music</h6>
            <small>Worship Songs</small>
        </div>
    </a>

    <a href="welcome.html"  class="mobile-menu-item">
        <div class="menu-icon">
            <i class="bi bi-calendar-event"></i>
        </div>
        <div>
            <h6>Events</h6>
            <small>Upcoming Meetings</small>
        </div>
    </a>

    <a href="welcome.html"  class="mobile-menu-item">
        <div class="menu-icon">
            <i class="bi bi-shield-check"></i>
        </div>
        <div>
            <h6>Security</h6>
            <small>Account Safety</small>
        </div>
    </a>

      <a href="welcome.html"  class="mobile-menu-item">
        <div class="menu-icon">
            <i class="bi bi-pencil-square"></i>
        </div>
        <div>
            <h6>Registration</h6>
            <small>Register Now</small>
        </div>
    </a>



</div>

</div>